
 <div class="container">
  <div class="row">
    <div class="">
      <div class="card">
        <div class="text-center">
          <h1>login</h1>
          <h6>Ingrese su usuario y password</h6>
        </div>
        <div class="mb-3">
          <label for="inputLogin" class="form-label">Email address:</label>
          <input
            type="email"
            class="form-control"
            id="inputLogin"
            [(ngModel)]="correo"
          />
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password:</label>
          <input type="password" class="form-control" id="inputPassword" [(ngModel)]="pass" />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="getInto()">Submit</button>
      </div>
    </div>
  </div>
</div>
