<p>Cantidad de ventas salvadas: {{ salvados.length }}</p>
<div class="container my-3">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-4 bg-white">
      <h2>PRODUCCIÓN</h2>
      <div class="col-6" *ngFor="let pro of elementos; index as i">
        <div class="centrado">{{ pro.id }}</div>
        <app-lista-produccion
          [production]="pro"
          (pressSalvar)="salvarVenta($event)"
        ></app-lista-produccion>
        <button (click)="openModal1(template1, i)" class="btn btn-primary">
          Ver
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="openModal(template, i)"
        >
          Actualizar
        </button>
        <!-- <button type="button" class="btn btn-danger" (click)="salvarVenta($event)">Salvar</button> -->
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form1" name="form1" #form="ngForm">
      <h3 class="title-description">Actualizar datos producción</h3>
      <div class="mb-3">
        <label for="detalle" class="form-label title-description"
          >Detalles de pedido</label
        >
        <!-- <input
          id="input1"
          name="input1"
          type="text"
          required
          [(ngModel)]="d_descripcionn"
          class="form-control"
          id="detalle"
          placeholder="Detalle"
        /> -->
      </div>
      <div class="mb-3">
        <label for="ruta" class="form-label title-description">Imagen</label>
        <!-- <input
          id="input2"
          name="input2"
          type="text"
          required
          [(ngModel)]="d_imagen"
          class="form-control"
          id="ruta"
          placeholder="Ruta de la Imagen"
          autofocus
        /> -->
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label title-description"
          >Nombre de producto</label
        >
        <input
          id="input3"
          name="input3"
          type="text"
          required
          [(ngModel)]="d_nombre"
          class="form-control"
          id="nombre"
          placeholder="Nombre"
        />
      </div>
      <div class="mb-3">
        <label for="porcentaje" class="form-label title-description"
          >Porcentaje de proceso</label
        >
        <!-- <input
          id="input4"
          name="input4"
          type="text"
          required
          [(ngModel)]="d_Stoke"
          class="form-control"
          id="porcentaje"
          placeholder="Porcentaje"
        /> -->
      </div>
      <div class="mb-3">
        <label for="estado" class="form-label title-description">Estado</label>
        <!-- <input
          id="input4"
          name="input4"
          type="text"
          required
          [(ngModel)]="d_descripcionn"
          class="form-control"
          id="estado"
          placeholder="Porcentaje"
        /> -->
      </div>
    </form>
    <button
      type="button"
      class="btn btn-danger"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
      Cancelar
    </button>
    <button type="button" class="btn btn-success" (click)="actComprobante()">
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body overflow-auto">
    <form id="form2" class="overflow-auto" name="form2" #form="ngForm">
      <h3 class="title-description">Detalles de venta</h3>
      <!-- <div class="mb-3">
        <label class="form-label title-description">{{ d_descripcionn }}</label>
      </div> -->
      <div class="mb-3">
        <img [src]="d_nombre" height="100px" alt="image" />
      </div>
      <div class="mb-3">
        <label class="form-label title-description">{{ d_nombre }}</label>
      </div>
      <div class="mb-3">
        <label class="form-label title-description">{{ d_nombre }}</label>
      </div>
      <div class="mb-3">
        <label class="form-label title-description">{{ d_nombre }}</label>
      </div>
      <!-- <div class="mb-3">
        <label class="form-label title-description">{{ d_Stoke }}</label>
      </div> -->
    </form>
  </div>
  <button
    type="button"
    class="btn btn-danger"
    aria-label="Close"
    (click)="modalRef?.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
    Cerrar
  </button>
</ng-template>
