<div>
    <!-- footer section starts  -->
    <section class="footer">
        <div class="box-container">
          <div class="box">
            <h3>Enlaces de busqueda</h3>
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Productos</a>
            <a href="#">Comentarios</a>
            <a href="#">Contactos</a>
          </div>

          <div class="box">
            <h3>Sobre mi</h3>
            <a href="#">Mi cuenta</a>
            <a href="#">Mi orden</a>
            <a href="#">Mis productos</a>
          </div>

          <div class="box">
            <h3>Nuestras sucursales</h3>
            <a href="#">Lima</a>
            <a href="#">Cusco</a>
            <a href="#">Arequipa</a>
          </div>

          <div class="box">
            <h3>Contactos</h3>
            <a href="#">+51 945467307</a>
            <a href="#">madereriaMichel@gmail.com</a>
            <img src="" alt="" />
          </div>
        </div>
      </section>
</div>